body,
html
{
  min-height: 100%;
}
.name
{
	width: 25%;
	color: rgb(255, 255, 255);
	background-color: rgb(185, 232, 129);

	border: solid;
	border-width: 0;
	border-radius: 12px ;
	box-shadow: 10px 10px 0px  rgb(166, 168, 164);
	

}

hr
{
	width: 100%;
	height: 10px;
	border: 0;
	background-image: linear-gradient(to right, #fff,#f79e9e, #fff);

}
.formation, .prenom, .age, .Kundennummer
{
  font-size: 20px;
}
.image
{
	

	width: 100%;
	border-style: solid;
	border:5px;
	border-radius: 50%;

	
}

main
{
	width: 78%;
}
main,aside
{
	float: left;
}
aside
{
	width: 20%;
    height: 100%;
}

body
{
	background-image: url(img/background.jpg);
	background-size: cover; 
	background-position: center;
	height: 500px;
	background-attachment: fixed;
	width: 100%;
	
}
.mover
{
  font-size: 20px;
	position: absolute;
	right: 500px;
	top: 100px; 
	background-color:rgb(255, 242, 253);
	border: solid;
	border-radius: 15px;
	border-width: 0px;
}

.mover 
 {
	-webkit-animation: mover 4s cubic-bezier(0.645, 0.045, 0.355, 1.000) 1s both;
	        animation: mover 4s cubic-bezier(0.645, 0.045, 0.355, 1.000) 1s both;
}
.button
{
  text-align: center;
  position: absolute;
  bottom: 400px;
right: 800px;
bottom: 350px;
  
}
.button-size
{
  width: 100px;
}
.text1
{
  position: absolute;
  left: 100px;
  top: 0px;
}
.text2
{
  position: absolute;
  right: 500px;
  bottom: 150px;
}
.text3
{
  position: absolute;
  top:0px;
  right: 500px;
}
.text4
{
  position: absolute;
  right: 600px;
  top: 100px;
}
.text5
{
  position: absolute;
  right: 400px;
  top: 350px;
}
.text6
{
  position: absolute;
  left: 100px;
  bottom:5px;
}
.text7
{
  position: absolute;
  right:200px;
  top: 0px;
}


@-webkit-keyframes mover {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}
@keyframes mover {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
}




.dance
{   
  width: 50px;
  height: 50px;
  float: right;
  background-color: rgb(172, 183, 174);
  position: relative;
  -webkit-animation-name: dance; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: dance;
  animation-duration: 17s;
    animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  
}

@keyframes dance 
{
  0%   {background-color:rgb(179, 247, 143); left:0px; top:0px;}
  25%  {background-color:rgb(187, 196, 66); left:200px; top:0px;}
  50%  {background-color:rgb(167, 239, 227); left:200px; top:200px;}
  75%  {background-color:rgb(235, 178, 247); left:0px; top:200px;}
  100% {background-color:rgb(252, 159, 133); left:0px; top:0px;}
}
.dance1
{   
  width: 50px;
  height: 50px;
  background-color: rgb(172, 183, 174);
  position: relative;
  -webkit-animation-name: c; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  animation-name: c;
  animation-duration: 10s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes c 
{
  0%   {background-color:rgb(179, 247, 143); left:0px; top:0px;}
  25%  {background-color:rgb(187, 196, 66); left:200px; top:0px;}
  50%  {background-color:rgb(167, 239, 227); left:200px; top:200px;}
  75%  {background-color:rgb(235, 178, 247); left:0px; top:200px;}
  100% {background-color:rgb(252, 159, 133); left:0px; top:0px;}
}

.dance2
{   
  width: 50px;
  height: 50px;
  float: right;
  background-color: rgb(172, 183, 174);
  position: relative;
  -webkit-animation-name: b; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  animation-name: b;
  animation-duration: 8s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  
}
@keyframes b 
{
  0%   {background-color:rgb(179, 247, 143); left:0px; top:0px;}
  25%  {background-color:rgb(187, 196, 66); left:200px; top:0px;}
  50%  {background-color:rgb(167, 239, 227); left:200px; top:200px;}
  75%  {background-color:rgb(235, 178, 247); left:0px; top:200px;}
  100% {background-color:rgb(252, 159, 133); left:0px; top:0px;}
}

.dance3
{   
  width: 50px;
  height: 50px;
  background-color: rgb(172, 183, 174);
  position: relative;
  -webkit-animation-name: a; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 15s; /* Safari 4.0 - 8.0 */
  animation-name: a;
  animation-duration:15s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: reverse;

  
}

@keyframes a
 {
   0%   {background-color:rgb(216, 216, 216); left:0px; top:0px;}
  25%  {background-color:rgb(252, 88, 252); left:200px; top:0px;}
  50%  {background-color:rgb(167, 239, 227); left:200px; top:200px;}
  75%  {background-color:rgb(56, 55, 55); left:0px; top:200px;}
  100% {background-color:rgb(223, 232, 64); left:0px; top:0px;}
}



.dance4
{   
  width: 50px;
  height: 50px;
  float: right;
  background-color: rgb(172, 183, 174);
  position: relative;
  -webkit-animation-name: d; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  animation-name: d;
  animation-duration: 10s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;

  
}

@keyframes d
 {
   0%   {background-color:rgb(216, 216, 216); left:0px; top:0px;}
  25%  {background-color:rgb(252, 88, 252); left:200px; top:0px;}
  50%  {background-color:rgb(167, 239, 227); left:200px; top:200px;}
  75%  {background-color:rgb(56, 55, 55); left:0px; top:200px;}
  100% {background-color:rgb(223, 232, 64); left:0px; top:0px;}
}

.dance5
{   
  width: 50px;
  height: 50px;
  background-color: rgb(172, 183, 174);
  position: relative;
  -webkit-animation-name: e; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 7s; /* Safari 4.0 - 8.0 */
  animation-name: e;
  animation-duration: 7s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  
}

@keyframes e {
  0%   {background-color:rgb(156, 188, 139); left:0px; top:0px;}
  25%  {background-color:rgb(153, 247, 170); left:200px; top:100px;}
  50%  {background-color:rgb(99, 249, 204); left:200px; top:200px;}
  75%  {background-color:rgb(207, 175, 224); left:100px; top:200px;}
  85% {background-color:rgb(145, 198, 117); left:100px; top:100px;}
}
.dance6
{   
  width: 50px;
  height: 50px;
  float: right;
  background-color: rgb(172, 183, 174);
  position: relative;
  -webkit-animation-name: y; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  animation-name: y;
  animation-duration: 5s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  
}

@keyframes y{
  0%   {background-color:rgb(156, 188, 139); left:0px; top:0px;}
  25%  {background-color:rgb(153, 247, 170); left:200px; top:100px;}
  50%  {background-color:rgb(99, 249, 204); left:200px; top:200px;}
  75%  {background-color:rgb(207, 175, 224); left:100px; top:200px;}
  85% {background-color:rgb(145, 198, 117); left:100px; top:100px;}
}
.dance7
{   
  width: 50px;
  height: 50px;
  background-color: rgb(172, 183, 174);
  position: relative;
  -webkit-animation-name: w; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  animation-name: w;
  animation-duration: 10s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}

@keyframes w {
  0%   {background-color:rgb(156, 188, 139); left:0px; top:0px;}
  25%  {background-color:rgb(153, 247, 170); left:200px; top:100px;}
  50%  {background-color:rgb(99, 249, 204); left:200px; top:200px;}
  75%  {background-color:rgb(207, 175, 224); left:100px; top:200px;}
  85% {background-color:rgb(145, 198, 117); left:100px; top:100px;}
}
.dance8
{   
  width: 50px;
  height: 50px;
  background-color: rgb(172, 183, 174);
  position: relative;
  -webkit-animation-name: z; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: z;
  animation-duration: 4s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;

  
}

@keyframes z {
  0%   {background-color:rgb(156, 188, 139); left:0px; top:0px;}
  25%  {background-color:rgb(153, 247, 170); left:200px; top:100px;}
  50%  {background-color:rgb(99, 249, 204); left:200px; top:200px;}
  75%  {background-color:rgb(207, 175, 224); left:100px; top:200px;}
  85% {background-color:rgb(145, 198, 117); left:100px; top:100px;}
}
